.anvil
.anvil/**
.coverage
.mypy_cache
.mypy_cache/**
.nox
.nox/**
.pytest_cache
.pytest_cache/**
.pytest_tmp
.pytest_tmp/**
.ruff_cache
.ruff_cache/**
.tox
.tox/**
.venv
.venv/**
__pycache__/
**/__pycache__/
*.egg-info
*.egg-info/**
*.py[cod]
*.pyc.*
**/*.py[cod]
**/*.pyc.*
_tmp_pkg_install
_tmp_pkg_install/**
_tmp_test
_tmp_test/**
build
build/**
coverage.xml
dist
dist/**
htmlcov
htmlcov/**
test_run.log
